@import 'vars/vars.module';

:root {
  --common-input-base-wrapper-bg: #{$common-input-base-wrapper-bg};
  --common-input-base-wrapper-border-color: #{$common-input-base-wrapper-border-color};
  --common-input-base-wrapper-border: #{$common-input-base-wrapper-border};
  --common-input-base-wrapper-border-radius: #{$common-input-base-wrapper-border-radius};
  --common-input-base-label-color: #{$common-input-base-label-color};
  --common-input-base-label-required-color: #{$common-input-base-label-required-color};
  --common-input-base-hint-color: #{$common-input-base-hint-color};
  --common-input-base-error-color: #{$common-input-base-error-color};
  --common-input-base-button-bg: #{$common-input-base-button-bg};
  --common-input-base-button-color: #{$common-input-base-button-color};
}
