$common-transition: .3s ease-in-out;
$common-border-radius: .5rem;
$common-border: none;

:export {
  common-transition: $common-transition;
  common-border: $common-border;
  common-border-radius: $common-border-radius;
}
