$common-breakpoint-xl: 1920px;
$common-breakpoint-lg: 1440px;
$common-breakpoint-md: 1024px;
$common-breakpoint-sm: 768px;
$common-breakpoint-xs: 320px;

:export {
  common-breakpoint-xl: $common-breakpoint-xl;
  common-breakpoint-lg: $common-breakpoint-lg;
  common-breakpoint-md: $common-breakpoint-md;
  common-breakpoint-sm: $common-breakpoint-sm;
  common-breakpoint-xs: $common-breakpoint-xs;
}

:root {
  --common-breakpoint-xl: #{$common-breakpoint-xl};
  --common-breakpoint-lg: #{$common-breakpoint-lg};
  --common-breakpoint-md: #{$common-breakpoint-md};
  --common-breakpoint-sm: #{$common-breakpoint-sm};
  --common-breakpoint-xs: #{$common-breakpoint-xs};
}
