$common-breakpoint-default: 1600px;
$common-breakpoint-desktop: 1240px;
$common-breakpoint-tablet: 1024px;
$common-breakpoint-mobile: 768px;
$common-breakpoint-v-mobile: 480px;

:export {
  common-breakpoint-default: $common-breakpoint-default;
  common-breakpoint-desktop: $common-breakpoint-desktop;
  common-breakpoint-tablet: $common-breakpoint-tablet;
  common-breakpoint-mobile: $common-breakpoint-mobile;
  common-breakpoint-v-mobile: $common-breakpoint-v-mobile;
}
