$common-select-base-dropdown-bg: var(--common-color-ui-tertiary);
$common-select-base-dropdown-border: var(--common-border);
$common-select-base-dropdown-border-radius: var(--common-border-radius);
$common-select-base-option-icon-color: var(--common-color-ui-primary);
$common-select-base-arrow-color: var(--common-color-ui-primary);

:export {
  common-select-base-dropdown-bg: $common-select-base-dropdown-bg;
  common-select-base-dropdown-border: $common-select-base-dropdown-border;
  common-select-base-dropdown-border-radius: $common-select-base-dropdown-border-radius;
  common-select-base-option-icon-color: $common-select-base-option-icon-color;
  common-select-base-arrow-color: $common-select-base-arrow-color;
}
