$common-input-base-wrapper-bg: var(--common-color-ui-tertiary);
$common-input-base-wrapper-border-color: transparent;
$common-input-base-wrapper-border: var(--common-border);
$common-input-base-wrapper-border-radius: var(--common-border-radius);
$common-input-base-label-color: var(--common-color-ui-primary);
$common-input-base-label-required-color: var(--common-color-required);
$common-input-base-hint-color: var(--common-color-ui-secondary);
$common-input-base-error-color: var(--common-color-error);
$common-input-base-button-bg: var(--common-color-unaccented-light);
$common-input-base-button-color: var(--common-color-main);

:export {
  common-input-base-wrapper-bg: $common-input-base-wrapper-bg;
  common-input-base-wrapper-border-color: $common-input-base-wrapper-border-color;
  common-input-base-wrapper-border: $common-input-base-wrapper-border;
  common-input-base-wrapper-border-radius: $common-input-base-wrapper-border-radius;
  common-input-base-label-color: $common-input-base-label-color;
  common-input-base-label-required-color: $common-input-base-label-required-color;
  common-input-base-hint-color: $common-input-base-hint-color;
  common-input-base-error-color: $common-input-base-error-color;
  common-input-base-button-bg: $common-input-base-button-bg;
  common-input-base-button-color: $common-input-base-button-color;
}
