@font-face {
    font-family: 'jb';
    src: url('@/app/assets/fonts/jetbrainsmono-bold.woff2') format('woff2'),
        url('@/app/assets/fonts/jetbrainsmono-bold.woff') format('woff'),
        url('@/app/assets/fonts/jetbrainsmono-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'jb';
    src: url('@/app/assets/fonts/jetbrainsmono-italic.woff2') format('woff2'),
        url('@/app/assets/fonts/jetbrainsmono-italic.woff') format('woff'),
        url('@/app/assets/fonts/jetbrainsmono-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'jb';
    src: url('@/app/assets/fonts/jetbrainsmono-light.woff2') format('woff2'),
        url('@/app/assets/fonts/jetbrainsmono-light.woff') format('woff'),
        url('@/app/assets/fonts/jetbrainsmono-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'jb';
    src: url('@/app/assets/fonts/jetbrainsmono-regular.woff2') format('woff2'),
        url('@/app/assets/fonts/jetbrainsmono-regular.woff') format('woff'),
        url('@/app/assets/fonts/jetbrainsmono-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'icon-font';
    src: url('@/app/assets/fonts/icon-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
