@import './vars/vars.module';
@import './colors/colors.module';
@import './breakpoints/breakpoints.module';

@import 'mixins';

// BREAKPOINTS
:root {
  --common-breakpoint-default: #{$common-breakpoint-default};
  --common-breakpoint-desktop: #{$common-breakpoint-desktop};
  --common-breakpoint-tablet: #{$common-breakpoint-tablet};
  --common-breakpoint-mobile: #{$common-breakpoint-mobile};
  --common-breakpoint-v-mobile: #{$common-breakpoint-v-mobile};
}

// COLORS
:root {
  // BASE
  --common-color-white: #{$common-color-white};
  --common-color-white-10: #{$common-color-white-10};
  --common-color-white-20: #{$common-color-white-20};
  --common-color-white-30: #{$common-color-white-30};
  --common-color-white-40: #{$common-color-white-40};
  --common-color-white-50: #{$common-color-white-50};
  --common-color-white-60: #{$common-color-white-60};
  --common-color-white-70: #{$common-color-white-70};
  --common-color-white-80: #{$common-color-white-80};
  --common-color-white-90: #{$common-color-white-90};

  --common-color-black: #{$common-color-black};
  --common-color-black-10: #{$common-color-black-10};
  --common-color-black-20: #{$common-color-black-20};
  --common-color-black-30: #{$common-color-black-30};
  --common-color-black-40: #{$common-color-black-40};
  --common-color-black-50: #{$common-color-black-50};
  --common-color-black-60: #{$common-color-black-60};
  --common-color-black-70: #{$common-color-black-70};
  --common-color-black-80: #{$common-color-black-80};
  --common-color-black-90: #{$common-color-black-90};

  // TEXT
  --common-color-text-main: #{$common-color-text-main};
  --common-color-text-inverted: #{$common-color-text-inverted};

  // STATE
  --common-color-error: #{$common-color-error};
  --common-color-success: #{$common-color-success};
  --common-color-warning: #{$common-color-warning};
  --common-color-required: #{$common-color-required};
  --common-color-info: #{$common-color-info};

  // UI
  --common-color-ui-primary: #{$common-color-ui-primary};
  --common-color-ui-tertiary: #{$common-color-ui-tertiary};
  --common-color-ui-secondary: #{$common-color-ui-secondary};

  // THEME
  --common-color-primary: #{$common-color-primary};
  --common-color-primary-hover: #{$common-color-primary-hover};
  --common-color-primary-active: #{$common-color-primary-active};
  --common-color-secondary: #{$common-color-secondary};
  --common-color-secondary-hover: #{$common-color-secondary-hover};
  --common-color-secondary-active: #{$common-color-secondary-active};
  --common-color-tertiary: #{$common-color-tertiary};
  --common-color-tertiary-hover: #{$common-color-tertiary-hover};
  --common-color-tertiary-active: #{$common-color-tertiary-active};
}

// OTHER
:root {
  --common-transition: #{$common-transition};
  --common-border-radius: #{$common-border-radius};
  --common-border: #{$common-border};
}
