// BASE
$common-color-white: #ffffff;
$common-color-white-10: rgba($common-color-white, 0.1);
$common-color-white-20: rgba($common-color-white, 0.2);
$common-color-white-30: rgba($common-color-white, 0.3);
$common-color-white-40: rgba($common-color-white, 0.4);
$common-color-white-50: rgba($common-color-white, 0.5);
$common-color-white-60: rgba($common-color-white, 0.6);
$common-color-white-70: rgba($common-color-white, 0.7);
$common-color-white-80: rgba($common-color-white, 0.8);
$common-color-white-90: rgba($common-color-white, 0.9);

$common-color-black: #212121;
$common-color-black-10: rgba($common-color-black, 0.1);
$common-color-black-20: rgba($common-color-black, 0.2);
$common-color-black-30: rgba($common-color-black, 0.3);
$common-color-black-40: rgba($common-color-black, 0.4);
$common-color-black-50: rgba($common-color-black, 0.5);
$common-color-black-60: rgba($common-color-black, 0.6);
$common-color-black-70: rgba($common-color-black, 0.7);
$common-color-black-80: rgba($common-color-black, 0.8);
$common-color-black-90: rgba($common-color-black, 0.9);

// TEXT
$common-color-text-main: #212121;
$common-color-text-inverted: #ffffff;

// STATE
$common-color-error: #E73121;
$common-color-success: #89F336;
$common-color-warning: #FFEE8C;
$common-color-required: #FF0038;
$common-color-info: #90D5FF;

// UI
$common-color-ui-primary: #2d2d2d;
$common-color-ui-secondary: #a3a3a3;
$common-color-ui-tertiary: #f1f1f1;

// THEME
$common-color-primary-light: #ed174b;
$common-color-primary-medium: #c20f3b;
$common-color-primary-dark: #700922;
$common-color-secondary-light: #6ac5e8;
$common-color-secondary-medium: #4392b1;
$common-color-secondary-dark: #387a94;
$common-color-tertiary-light: #ffe17f;
$common-color-tertiary-medium: #ffd54c;
$common-color-tertiary-dark: #b28800;
$common-color-unaccented-light: #eaeaea;
$common-color-unaccented-medium: #c2c2c2;
$common-color-unaccented-dark: #b6b6b6;

:export {
  // BASE
  common-color-white: $common-color-white;
  common-color-white-10: $common-color-white-10;
  common-color-white-20: $common-color-white-20;
  common-color-white-30: $common-color-white-30;
  common-color-white-40: $common-color-white-40;
  common-color-white-50: $common-color-white-50;
  common-color-white-60: $common-color-white-60;
  common-color-white-70: $common-color-white-70;
  common-color-white-80: $common-color-white-80;
  common-color-white-90: $common-color-white-90;

  common-color-black: $common-color-black;
  common-color-black-10: $common-color-black-10;
  common-color-black-20: $common-color-black-20;
  common-color-black-30: $common-color-black-30;
  common-color-black-40: $common-color-black-40;
  common-color-black-50: $common-color-black-50;
  common-color-black-60: $common-color-black-60;
  common-color-black-70: $common-color-black-70;
  common-color-black-80: $common-color-black-80;
  common-color-black-90: $common-color-black-90;

  // TEXT
  common-color-text-main: $common-color-text-main;
  common-color-text-inverted: $common-color-text-inverted;

  // STATE
  common-color-error: $common-color-error;
  common-color-success: $common-color-success;
  common-color-warning: $common-color-warning;
  common-color-required: $common-color-required;
  common-color-info: $common-color-info;

  // UI
  common-color-ui-primary: $common-color-ui-primary;
  common-color-ui-tertiary: $common-color-ui-tertiary;
  common-color-ui-secondary: $common-color-ui-secondary;

  // THEME
  common-color-primary-medium: $common-color-primary-medium;
  common-color-primary-dark: $common-color-primary-dark;
  common-color-primary-light: $common-color-primary-light;
  common-color-secondary-medium: $common-color-secondary-medium;
  common-color-secondary-dark: $common-color-secondary-dark;
  common-color-secondary-light: $common-color-secondary-light;
  common-color-tertiary-medium: $common-color-tertiary-medium;
  common-color-tertiary-dark: $common-color-tertiary-dark;
  common-color-tertiary-light: $common-color-tertiary-light;
  common-color-unaccented-medium: $common-color-unaccented-medium;
  common-color-unaccented-dark: $common-color-unaccented-dark;
  common-color-unaccented-light: $common-color-unaccented-light;
}
