$app-tabs-header-bg: none;
$app-tabs-label-bg: none;
$app-tabs-label-bg-active: none;
$app-tabs-label-border: 1px dashed transparent;
$app-tabs-label-border-color-active: var(--common-color-ui-primary);

:export {
  app-tabs-header-bg: $app-tabs-header-bg;
  app-tabs-label-bg: $app-tabs-label-bg;
  app-tabs-label-bg-active: $app-tabs-label-bg-active;
  app-tabs-label-border: $app-tabs-label-border;
  app-tabs-label-border-color-active: $app-tabs-label-border-color-active;
}
